<h1 class="text-center p-3"> Start a Timer </h1>

<%= simple_form_for [@parking_bay, @trip] do |f| %>
  <%= f.input :timer, label: "Enter your desired parking timer (in minutes):" %>
  <%= f.submit%>
<% end %>
<%= link_to "Return to home", root_path, class:"btn btn-primary mt-3 m-1" %>
