#instructions {
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
}

ol li {
  list-style: decimal;
  list-style-position: inside;
  padding-top: 5px;
}

/* If we want to hide the scrollbar */
#instructions::-webkit-scrollbar {
  display: none;
}
