<h2><%= parking_bay.address %></h2>
<p>This space is <%= parking_bay.occupied ? "unavailable" : "available" %></p>
<div class="pt-2">
  <% if !parking_bay.occupied %>
    <p class="no-underline hover:underline"><%= link_to 'See directions', parking_bay_path(parking_bay)%></p>
  <% end %>
</div>
