<% chomp_section = ', Melbourne, City of Melbourne, Victoria, 3051, Australia' %>
<h2><%= parking_bay.address %></h2>
<<<<<<< HEAD
<p>This space is <%= parking_bay.occupied ? "unavailable" : "available" %></p>
<div class="pt-2">
=======
<div class="pt-2">
<p>This space is <%= parking_bay.occupied ? "unavailable" : "available" %></p>
>>>>>>> 832c7dd0af6cc05a70e48ea2fa035d9c6fd6934b
  <% if !parking_bay.occupied %>
    <p class="no-underline hover:underline"><%= link_to 'See directions', parking_bay_path(parking_bay)%></p>
  <% end %>
</div>
