<% chomp_section = /, Melbourne, City of Melbourne, Victoria, \d{3,6}, Australia/ %>
<div class="p-1">
  <h2><%= parking_bay.address.sub(chomp_section,'') %></h2>
  <div class="">
  <p class='pt-1'>This space is <%= parking_bay.occupied ? "unavailable" : "available" %></p>
    <% if !parking_bay.occupied %>
      <p class="no-underline hover:underline"><strong><%= link_to 'See directions ➜', parking_bay_path(parking_bay)%></strong></p>
    <% end %>
  </div>
</div>
