<h1>Index.html.erb</h1>

<div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-parking-bays-value="<%= @geojson.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
