<div data-controller="map"
      data-map-parking-bays-value="<%= @geojson.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      class="relative">
      <%# map %>
      <div style="width: 100%; height:98vh;" data-map-target="map"></div>
      <%# drawer %>
      <div class="absolute bottom-16 left-3">
        <%= render "about_window" %>
      </div>
      <%= render "drawer"%>
</div>
